body{
  text-align: center;
  font-family: sans-serif;
}

#outer-box{
  background-color:#eee;
  margin:0px auto;
  border-radius: 5px;
  width:80%;
  max-width: 800px;
  padding: 10px;
}

.blockunits{
  display:inline-block;
  text-align: right;
  width:50%;
  margin: 10px;
}
.label{
  text-align: right;
}

ul{
  list-style: none;
}

#submit{
  background-color: rgba(27, 100, 204, 0.5);
  height:40px;
  width: auto;
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin: auto;

}
#submit:hover{
  background-color: rgba(27, 100, 204, 1);
}
