body{
  text-align: center;
  font-family: sans-serif;
}
.blockunits{
  margin:5px;
}

#outer-box{
  background-color:#eee;
  margin:0px auto;
  border-radius: 5px;
  width:80%;
  max-width: 800px;
  padding: 10px;
}

.label{
  vertical-align:top;
  display:inline-block;
  width: 40%;
  text-align: right;
  margin-top:10px;
}
.input{
  display:inline-block;
  width: 45%;
  text-align: left;
  margin-top:10px;
  margin-left:5px;
}

ul{
  list-style: none;
  position:relative;
  left:-25px;
}

#submit{
  background-color: rgba(27, 100, 204, 0.5);
  height:40px;
  width: auto;
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin: auto;

}
#submit:hover{
  background-color: rgba(27, 100, 204, 1);
}
